.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #f6f6f6;
  background-image: linear-gradient(315deg, #f6f6f6 0%, #e9e9e9 74%);
}

nav ul {
  display: flex;
  width: 1450px;
  height: 50px;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}

#SearchBox {
  padding: 20px;
  border-radius: 50px;
}

.content {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
}

.newscontent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
}

.parentcontainer {
  height: 1800px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image {
  height: 200px;
  width: 300px;

}

.content {
  height: 550px;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.parent {
  width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: rgb(188, 198, 188);
  padding: 5px;
}

.grandparent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.heading {
  display: flex;
  justify-content: center;
}

.Next {
  display: flex;
  justify-content: space-between;
}

.nextbutton {
  display: flex;
  justify-content: space-between;
  width: 1500px;
}
button:hover{
  cursor:pointer;
}