
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #98d9e1;
  background-image: linear-gradient(315deg, #98d9e1 0%, #d6aed6 74%);
}

nav ul {
  display: flex;
  width: 1450px;
  height: 50px;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  color: black;
}

#SearchBox {
  padding: 20px;
  border-radius: 50px;
}

.content {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
}

.newscontent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
}

.parentcontainer {
  height: 1800px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image {
  height: 200px;
  width: 300px;

}

.content {
  height: 550px;
  width: 200px;
  display: flex;
  flex-direction: column;
  transition: transform .2s;
}

.parent {
  width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: rgb(188, 198, 188);
  padding: 5px;
}

.grandparent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height:800px;
}

.heading {
  display: flex;
  justify-content: center;
}

.Next {
  display: flex;
  justify-content: space-between;
}

.nextbutton {
  display: flex;
  justify-content: space-between;
  width: 1500px;
}

button:hover {
  cursor: pointer;
  background-color: pink;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
}

.content:hover {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.5);
}

.news {
  background-color: #98d9e1;
  background-image: linear-gradient(315deg, #98d9e1 0%, #d6aed6 74%);
}

.button {
  background-color: #98d9e1;
  background-image: linear-gradient(315deg, #98d9e1 0%, #d6aed6 74%);
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.spinner{
  display:flex;
  justify-content: center;
  align-items:center;
  height:800px;
}
.grandparentapp{
  height:500px;
  display:flex;
  flex-direction: column;

}
.headingapp{
  height:auto;
  display:flex;
  justify-content: center;
}
.description{
  height:auto;
  width:1200px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.content:hover{
  cursor:pointer;
}
.about{
  display:flex;
  justify-content: space-around;
  align-items: center;
  height:500px;
  flex-direction: column;
}